
    <img src="https://vignette.wikia.nocookie.net/leagueoflegends/images/5/5f/Teemo_OriginalCentered.jpg/revision/latest?cb=20180414203624"
    style="position: absolute;z-index: -1;width: 100%;height: 100%;;">

<div style="display:flex;justify-content:center;align-items:center;" > 

    <!-- style="position: absolute;top:50%;left: 50%;transform: translate(-50%,-50%);" -->
    <div id="padre">
        <select style="font-size: xxx-large;" [(ngModel)]="opcionSeleccionado" (change)="capturar()">
            <option  *ngFor="let opcion of selecOpciones">
                {{opcion}}
            </option>
        </select>
        <textarea [(ngModel)]="texto" style="display: block;font-size: xxx-large;white-space: pre-wrap;" (keyup)="algo()" > </textarea>
        <!-- <input [(ngModel)]="texto" (keyup)="algo()" style="display:block;margin-bottom: 10px;font-size: xxx-large;"> -->
        <!-- <div style="text-align: -webkit-center;">
            <div style="text-align: center;width: min-content;">
                <textarea class="textareaMod" style="font-size: xxx-large;"  disabled="true" cols="25" rows="5" WRAP="HARD"  maxlength="125" #elementoCopia >{{textoCopiar}}</textarea>
                <button  class="botonJunto"  ngxClipboard [cbContent]="textoCopiar" >copiar</button> 
            </div>
        </div> -->

        
        <app-text-area-copy [Texto]="textoCopiar" ancho="25" [alto]="altoTam()">
            
        </app-text-area-copy>
        <!-- <app-text-area-copy Texto=
        "▬▬▬.◙.▬▬▬░░░░░░░░░░░░░░░
        ═▂▄▄▓▄▄▂░░░░░░░░░░░░░░░░
        ◢◤ █▀▀████▄▄▄▄◢◤░░░░░░░░
        █▄ █ █▄ ███▀▀▀▀▀▀▀╬░░░░░░
        ◥█████◤░░░░░░░░░░░░░░░░░░
        ══╩══╩══░░░░░░░░░░░░░░░░░
        ╬═╬ Subí que te carreo pa
        ╬═╬░░░░░░░░░░░░░░░░░░░░░░
        ╬═╬ ☻/ NOS RE VIMOS PETES
        ╬═╬/▌░░░░░░░░░░░░░░░░░░░░
        ╬═╬/ +░░░░░░░░░░░░░░░░░░░" ancho="25" alto="11">              
            
        </app-text-area-copy> -->
    </div>
    
    <!-- <label *ngIf="obtenerAncho(textoCopiar)<25" style="font-size: xxx-large; display: block;color:red">NO TIENE 25 DE ANCHO :v C BERA FEO</label> -->
</div>



