<div style="text-align: -webkit-center; width: 100%;">
    <div style="text-align: center;width: min-content;position: relative;" class="textareaOn">
        <textarea class="textareaMod" style="font-size: xxx-large;height: 100%;"  disabled="true" [cols]="ancho" [rows]="alto" WRAP="HARD"  maxlength="{maximo}" #elementoCopia >{{Texto}}</textarea>
        <div style="width: 100%;background-color:green;position: absolute;top:0;height: 100%;display: none;text-align: center;justify-content: center;align-items: center;">
            
            <div style="width: fit-content;" ngxClipboard [cbContent]="Texto">
            <img src="/SensilloType/assets/teemongo.png" class="sombrapng" style="height: 80%;position: absolute;left:50%;top:50%;z-index: 1;transform: translate(-50%, -50%);">
            <label  style="display:table-cell; font-size: xxx-large; display: block;color:blue;
            font-family:'Pacifico', cursive ; z-index: 2;position: relative;
            " class="sombrapng">C O P I A R</label>



        </div>

        <!-- <button  class="botonJunto"  ngxClipboard [cbContent]="Texto" >copiar</button>  -->
    </div>
</div>